
body {
    height: auto;
    background: url('../imagnes/fundo/fundo-café.jpg') center center no-repeat scroll;
    background-size: cover;
}

#main {
    padding: 80px 0;
}
.grid-container {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}

/* Hero banner */
.hero-banner {
    grid-area: 1 / 1 / 2 / 4;

    .hero-itens {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hero-img img {
            max-width: clamp(200px, 50vw, 500px);
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.705));
            z-index: 2;
        }

        .hero-txt {
            text-align: center;

            h1 {
                line-height: 40px;
                font-weight: 300;
                color: var(--color-0);
                span {
                    display: block;
                    font-weight: 700;
                }
            }

            p {
                color: var(--color-0);
                font-size: 1.3em;
                margin-bottom: 10px
            }

            .btn-contato {
                cursor: pointer;
            }
        }
    }
}

/* Mais vendidos */

.mais-vendidos {
    grid-area: 2 / 1 / 3 / 4;
    padding-top: 80px;
    margin-bottom: 20px;

    h2 {
        color: var(--color-0);
    }
}

section.card-1 {
    grid-area: 3 / 2 / 4 / 3;
}

section.card-2 {
    grid-area: 4 / 2 / 5 / 3;
}

section.card-3 {
    grid-area: 5 / 2 / 6 / 3;
}

.card-bloco {
    margin-bottom: 50px;
}

.card {
    background-color: var(--color-2);
    padding: 0 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 0px var(--color-5);
    text-align: center;
    position: relative;

    .img-card img {
        width: 200px;
    }

    p {
        background-color: var(--color-0);
        width: 50px;
        padding: 5px;
        border-radius: 10px;
        position: absolute;
        top: 60%;
        left: 65%;
    }

    h3 {
        color: var(--color-0);
        padding-bottom: 10px;
    }
}

/* Descrição */

.descricao {
    grid-area: 6 / 1 / 7 / 4;
    background-color: var(--color-0);
    padding: 20px 10px;
    border-radius: 10px;
}

.grid-descricao {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: repeat(4, auto);
    gap: 50px;

    .txt-descricao {
        grid-area: 1 / 2 / 2 / 4;
        background-color: var(--color-4);
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);

        .titulo-descricao {
            width: 190px;
            margin-bottom: 5px;
            position: relative;

            h2 {
                color: var(--color-0);
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: white;

            }
        }

        .paragrafo {
            
            background: url('../imagnes/outras/imagem-fundo-paragrafo.png') center center no-repeat scroll;
            background-size: cover;
            background-color: var(--color-1);
            border-radius: 15px;
            margin: 10px 0;
            padding: 15px;

            p {
                font-weight: 700;
                color: white;
            }
        }
    }

    .img-descricao {
        grid-area: 2 / 1 / 3 / 5;
        text-align: center;

        img {
            width: 300px;
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.479));
        }
    }
}